{% extends "base.html.twig" %}
{% block title %}Changer mon mot de passe{% endblock %}
{% block body %}
<div class="container">
    <h1>Changer mon mot de passe</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
</div>

{% endblock %}